body{
background-image:url('bg7.jpg');
background-repeat:no-repeat;
background-attachment:fixed;

background-size:cover;
}

.menuborder{
    border: 5px white;
}



.category-tile{
    text-align: center
    border: 2px solid black;
    overflow:hidden;
    width:300px;
    height:300px;
    margin:0 auto 15px;
    
}

.category-tile  span {
    align-content: center;
    bottom:0;
    right:0;
    width:100px;
    text-align: center;
    font-size: 1.2em;
    text-transform: :uppercase;
    background-color:black;
    color:#ffc40c;
    opacity:.8;
    /*font-family: poppins;*/
}

.category-tile:hover{
    
    width:350px;
    height:350px;
    align-items: center;
    transform: scale(1.5);
    transition: transform .2s;
    
}

.rounded-circle {
  border-radius: 50% ;
  width:100px;
height: 100px
}

.icon-bar {
  border: 2px solid #61122f;
}



#name{
    color: #ffc40c;
}
ul{
    color:#ffc40c;
    
}
.img_border{
    border : 5px solid black;
    
}
